doctype 5
html(lang=en)
	head
		title Node Defender
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="//fonts.googleapis.com/css?family=Press+Start+2P|Merriweather+Sans:400,700|Open+Sans", rel="stylesheet", type="text/css")
		link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", rel="stylesheet", type="text/css")
		link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css", rel="stylesheet", type="text/css")
		link(href="/css/style.css", rel="stylesheet", type="text/css")
		script.
			var host = '#{host}';
			var username = '#{username}';
			var token = '#{token}';
			var secret = '#{secret}';

		block vars
	body(data-view="#{page}")
		header
			.container
				row
					.col-lg-12
						h1
							i.icon-html5
							span <a href="/">Node Defender</a>
							include components/nav
		.main
			.container
				block content
		footer
			.container
				.row
					.col-lg-12
						a(href="http://engineering.zumba.com")
							img(src="//www.zumba.com/img/logo.png")
						p.pull-right.ps2p-small &copy; 2013 Zumba Fitness, LLC. All rights reserved.
		a.hidden-xs(href="https://github.com/zumba/node-defender")
			img(style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png", alt="Fork me on GitHub")

		include components/misc_scripts
		script(data-main="js/config" src="js/vendor/require.js")
		block scripts
